/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="blog.html"] {
	color: #ccc!important;
}

/* --- materia destaque --- */
#materia-destaque img.img-fluid{
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

/* --- conteudo / bloco-1 --- */
#conteudo .bloco-1{
	margin-top: 100px;
	margin-bottom: 110px;
}
#conteudo .bloco-1 .desc{
	max-width: 598px;
	width: 100%;
}
#conteudo .bloco-1 h2{
	font-size: 29px;
	margin-bottom: 50px;
}
#conteudo .bloco-1 p{
	font-size: 16px;
	margin-bottom: 0;
}

/* --- conteudo / bloco-2 --- */
#conteudo .bloco-2{
	margin-bottom: 72px;
}
#conteudo .bloco-2 .desc{
	max-width: 610px;
	width: 100%;
}
#conteudo .bloco-2 h2{
	font-size: 29px;
	margin-bottom: 42px;
}
#conteudo .bloco-2 p{
	font-size: 16px;
	margin-bottom: 0;
}
#conteudo .bloco-2 img{
	width: 100%;
	height: 1083px;
}

/* --- conteudo / bloco-3 --- */
#conteudo .bloco-3{
	margin-bottom: 180px;
}
#conteudo .bloco-3 img{
	max-width: 665;
	width: 100%;
	height: 444px;
	object-fit: cover;
}
#conteudo .bloco-3 .desc{
	max-width: 610px;
	width: 100%;
}
#conteudo .bloco-3 h2{
	font-size: 29px;
	margin-bottom: 42px;
}
#conteudo .bloco-3 p{
	font-size: 16px;
	margin-bottom: 0;
}

/* --- materia destaque --- */
#materia-destaque{
	margin-bottom: 60px;
}
#materia-destaque .container-fluid{
	height: 100vh;
}
#materia-destaque a.imagem{
	position: relative;
    width: 100%;
    height: 100vh;
    display: block;
}
#materia-destaque a.imagem::before{
	position: absolute;
	content: '';
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	width: 100%;
	height: 100vh;
}
#materia-destaque img.img-fluid{
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
#materia-destaque .desc{
	position: absolute;
	top: 35%;
	margin-left: 40px;
	color: white;
	max-width: 370px;
	width: 100%;
	letter-spacing: 3px;
}
#materia-destaque h3{
	text-transform: uppercase;
	font-size: 28px;
	margin-bottom: 19px;
}
#materia-destaque p.data{
	font-size: 13px;
	margin-bottom: 40px;
}
#materia-destaque p.data span{
	position: relative;
	top: -6px;
	letter-spacing: 0px;
	padding-left: 5px;
	padding-right: 5px;
}
#materia-destaque p.texto{
	font-size: 16px;
	margin-bottom: 0;
	letter-spacing: 0px;
	height: 100px;
	overflow: auto;
}

/* --- comentarios --- */
#comentarios{
	margin-bottom: 100px;
}
#comentarios h2{
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 0px;
}
#comentarios .avatar{
	margin-right: 14px;
}
#comentarios h3.nome,
#comentarios p.data,
#comentarios p.comentario{
	font-size: 16px;
	color: #707070;
}
#comentarios p.comentario{
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 18px;
}
#comentarios p.responder{
	font-size: 16px;
	display: inline;
	padding-bottom: 5px;
	border-bottom: 1px solid #000000;
}
#comentarios input,
#comentarios textarea{
	width: 100%;
	border-radius: 0px;
	padding-top: 8px;
	padding-left: 10px;
	font-size: 12px;
	border-color: #ccc!important;
}
#comentarios input{
	margin-bottom: 10px;
}
#comentarios textarea{
	padding-top: 10px;
	height: 86px;
}
#comentarios a.btn{
	padding-top: 8px;
	height: 37px;
	font-size: 14px;
}
	
@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- outros --- */
	.margin-right{
		margin-right: 0px;
	}
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	/* --- conteudo / bloco-1 --- */
	#conteudo .bloco-1{
		margin-top: 50px;
		margin-bottom: 60px;
	}
	#conteudo .bloco-1 .desc{
		max-width: 100%;
	}
	#conteudo .bloco-1 h2{
		font-size: 25px;
		margin-bottom: 30px;
	}

	/* --- conteudo / bloco-2 --- */
	#conteudo .bloco-2{
		margin-bottom: 60px;
	}
	#conteudo .bloco-2 img{
		height: 621px;
		margin-bottom: 50px;
	}
	#conteudo .bloco-2 .desc{
		max-width: 100%;
	}
	#conteudo .bloco-2 h2{
		font-size: 25px;
		margin-bottom: 30px;
	}

	/* --- conteudo / bloco-3 --- */
	#conteudo .bloco-3{
		margin-bottom: 60px;
	}
	#conteudo .bloco-3 img{
		max-width: 100%;
		height: 351px;
		margin-bottom: 50px;
	}
	#conteudo .bloco-3 .desc{
		max-width: 100%;
	}
	#conteudo .bloco-3 h2{
		font-size: 25px;
		margin-bottom: 30px;
	}

	/* --- comentarios --- */
	#comentarios{
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 480px) {
	/* --- materia destaque --- */
	#materia-destaque .desc{
		top: initial;
		bottom: 30px;
		margin-left: 15px;
		max-width: 90%;
	}
	#materia-destaque h3{
		font-size: 25px;
	}
	#materia-destaque p.data{
		margin-bottom: 20px;
	}
	#materia-destaque p.texto{
		height: 120px;
	}

	/* --- comentarios --- */
	#comentarios{
		margin-bottom: 100px;
	}
	#comentarios h2{
		font-size: 25px;
	}
	#comentarios p.comentario{
		/* font-size: 16px; */
		/* margin-top: 15px; */
		/* margin-bottom: 18px; */
	}
	#comentarios p.responder{
		/* font-size: 16px; */
		padding-bottom: 5px;
	}
	#comentarios input,
	#comentarios textarea{
		/* padding-top: 8px; */
		/* padding-left: 10px; */
		/* font-size: 12px; */
	}
	#comentarios input{
		/* margin-bottom: 10px; */
	}
	#comentarios textarea{
		/* padding-top: 10px; */
		/* height: 86px; */
	}
	#comentarios a.btn{
		/* padding-top: 8px; */
		/* height: 37px; */
		/* font-size: 14px; */
	}
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}