/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="blog.html"] {
	color: #ccc!important;
}

/* --- materia destaque --- */
#materia-destaque{
	margin-bottom: 60px;
}
#materia-destaque .container-fluid{
	height: 100vh;
}
#materia-destaque a.imagem{
	position: relative;
    width: 100%;
    height: 100vh;
    display: block;
}
#materia-destaque a.imagem::before{
	position: absolute;
	content: '';
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	width: 100%;
	height: 100vh;
}
#materia-destaque img.img-fluid{
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
#materia-destaque .desc{
	position: relative;
	top: -280px;
	margin-left: 40px;
	color: white;
	max-width: 370px;
	width: 100%;
	letter-spacing: 3px;
}
#materia-destaque h3{
	text-transform: uppercase;
	font-size: 28px;
	margin-bottom: 19px;
}
#materia-destaque p.data{
	font-size: 13px;
	margin-bottom: 40px;
}
#materia-destaque p.data span{
	position: relative;
	top: -6px;
	letter-spacing: 0px;
	padding-left: 5px;
	padding-right: 5px;
}
#materia-destaque p.texto{
	font-size: 16px;
	margin-bottom: 0;
	letter-spacing: 0px;
	height: 100px;
	overflow: auto;
}

/* --- artigos --- */
#artigos a.row{
	margin-bottom: 60px;
}
#artigos a.row img{
	width: 100%;
	height: 528px;
	object-fit: cover;
}
#artigos a.row .desc{
	margin-left: 170px;
	margin-right: 90px;
}
#artigos a.row h2{
	font-size: 29px;
	margin-bottom: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000;
}
#artigos a.row p.data{
	font-size: 14px;
	letter-spacing: 3px;
	margin-bottom: 30px;
	color: #000;
}
#artigos a.row p.texto{
	font-size: 16px;
	margin-bottom: 0;
	color: #707070;
}
	

/* --- paginacao --- */
#paginacao{
	margin-left: -100px;
	margin-bottom: 100px;
}
#paginacao li{
	text-align: center;
	width: 35px;
	height: 35px;
	background-color: transparent;
	transition: .3s;
}
#paginacao a{
	font-size: 26px;
	font-weight: bold;
	color: #707070;
	transition: .3s;
}
#paginacao li.active,
#paginacao li:hover{
	background-color: #000;
	transition: .3s;
}
#paginacao li.active a,
#paginacao li:hover a{
	color: white;
	transition: .3s;
}
	
@media screen and (max-width: 1660px) {
	/* --- artigos --- */
	#artigos a.row .desc{
		margin-left: 100px;
		margin-right: 90px;
	}
}

@media screen and (max-width: 1440px) {
	/* --- artigos --- */
	#artigos a.row .desc{
		margin-left: 50px;
		margin-right: 0px;
	}
}

@media screen and (max-width: 1200px) {
	/* --- materia destaque --- */
	#materia-destaque .desc{
		top: -250px;
	}

	/* --- artigos --- */
	#artigos a.row img{
		margin-bottom: 20px;
	}
	#artigos a.row h2{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 992px) {
	/* --- materia destaque --- */
	#materia-destaque .container-fluid{
		height: 500px;
	}
	#materia-destaque a.imagem::before{
		height: 500px;
	}
	#materia-destaque img.img-fluid{
		height: 500px;
	}
	#materia-destaque .desc{
		top: -250px;
	}

	/* --- menu lateral --- */
	img.menu-lateral{
		position: absolute;
		margin-top: -20px;
		margin-left: 15px;
		max-width: 50px;
	}

	/* --- artigos --- */
	#artigos a.row{
		margin-top: 60px;
	}
	#artigos a.row img{
		margin-bottom: 20px;
	}
	#artigos a.row h2{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 480px) {
	/* --- materia destaque --- */
	#materia-destaque .desc{
		top: -240px;
		margin-left: 20px;
		max-width: 359px;
		width: 100%;
	}
	#materia-destaque h3{
		font-size: 25px;
	}
	#materia-destaque p.data{
		font-size: 11px;
		margin-bottom: 15px;
	}
	#materia-destaque p.texto{
		height: 120px;
	}

	/* --- artigos --- */
	#artigos a.row img{
		height: 256px;
	}
	#artigos a.row h2{
		font-size: 26px;
		margin-bottom: 18px;
	}
	#artigos a.row p.data{
		font-size: 12px;
		margin-bottom: 20px;
	}

	/* --- paginacao --- */
	#paginacao{
		margin-left: 0px;
	}
}

@media screen and (max-width: 400px) {
	/* --- materia destaque --- */
	#materia-destaque .desc{
		margin-left: 20px;
		max-width: 330px;
	}
}

@media screen and (max-width: 350px) {
	/* --- materia destaque --- */
	#materia-destaque .desc{
		margin-left: 15px;
		max-width: 300px;
	}
}