/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="contato.html"] {
	color: #ccc!important;
}

/* --- banner --- */
#banner{
	background: url(../imagens/banners/banner-contato.png)no-repeat center center;
	background-size: cover;
	height: 486px;
	filter: grayscale(100%);
	overflow: hidden;
}
#banner h1,
#banner p{
	font-size: 45px;
	margin-bottom: 0;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin-left: 65%;
	color: white;
	font-family: "AktivGroteskCorp-Light";
}
#banner h1{
	padding-left: 10px;
	position: relative;
	left: -10px;
}
#banner p{
	opacity: .5;
}

/* --- conteudo --- */
.container-fluid.pl-0{
	margin-top: 150px;
	margin-bottom: 75px;
}

/* --- formulario contato --- */
#formulario-contato{
	padding-left: 25px;
	padding-right: 25px;
}
#formulario-contato input,
#formulario-contato select,
#formulario-contato textarea{
	border-radius: 0;
	border-color: #00000030;
	height: 62px;
	font-size: 15px;
	padding-top: 8px;
	margin-bottom: 18px;
}
#formulario-contato [class*=col-]{
	padding-left: 8px;
	padding-right: 8px;
}
#formulario-contato .form-check{
	margin-bottom: 5px;
}
#formulario-contato input.form-check-input{
	width: 17px;
	height: 25px;
	margin-top: 0;
}
#formulario-contato .form-check-label {
    margin-bottom: 0;
    margin-left: 15px;
}
#formulario-contato .teste{
    background: url(../imagens/logos/icon-select.png) no-repeat 98%;
}
#formulario-contato .teste select{
	background: transparent;
	-webkit-appearance: none;
}
#formulario-contato textarea{
	height: 172px;
}
#formulario-contato .media{
	margin-top: 25px;
	margin-left: 10px;
}
#formulario-contato .media img{
	margin-right: 17px;
}
#formulario-contato .media p{
	font-size: 16px;
	line-height: 20px;
	max-width: 600px;
}
#formulario-contato .btn-black{
	margin-top: 40px;
	height: 70px;
	font-size: 28px;
}

/* --- endereco --- */
#endereco .mapa{
	margin-bottom: 40px;
}
#endereco .mapa iframe{
	height: 434px;
}
#endereco p,
#endereco a{
	font-size: 16px;
	color: #000;
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- formulario contato --- */
	#formulario-contato{
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media screen and (max-width: 1200px) {
	/* --- conteudo --- */
	.container-fluid.pl-0{
		margin-top: 50px;
	}
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
	#banner h1,
	#banner p{
		margin-left: 30%;
	}

	/* --- conteudo --- */
	.container-fluid.pl-0{
		margin-top: 40px;
		margin-bottom: 65px;
	}

	/* --- formulario contato --- */
	#formulario-contato input,
	#formulario-contato select,
	#formulario-contato textarea{
		font-size: 14px;
	}
	#formulario-contato [class*=col-]{
		padding-left: initial;
		padding-right: initial;
	}
	#formulario-contato .btn-black{
		margin-top: 40px;
		padding-top: 20px;
		font-size: 18px;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
		max-width: 100%;
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	#formulario-contato .btn-black{
		font-size: 16px;
	}
}

@media screen and (max-width: 350px) {
	
}