/*
	CSS que engloba todas as páginas
*/

/* --- fontes --- */
	@font-face {
	    font-family: "AktivGroteskCorp-Regular";
	    src: url("../fonts/AktivGroteskCorp-Regular.ttf");
	}
	@font-face {
	    font-family: "AktivGroteskCorp-Light";
	    src: url("../fonts/AktivGroteskCorp-Light.ttf");
	}

	.font-regular{
		font-family: "AktivGroteskCorp-Regular";
	}
	.font-light{
		font-family: "AktivGroteskCorp-Light";
	}

/* --- cores --- */
	:root{
		--new-black:#000;
	}

	.bg-black{
		background-color: var(--new-black);
	}

	.text-black{
		color: var(--new-black);
	}

/* --- outros --- */
	body{
		/* font-family: "AktivGroteskCorp-Light"; */
		font-family: "AktivGroteskCorp-Regular";
		/* overflow-x: hidden; */
	}
	
	.container{
		max-width: 1652px!important;
	}
	
	.margin-left{
		margin-left: 136px;
	}
	.margin-right{
		margin-right: 136px;
	}
	
	a:hover{
		text-decoration: none;
	}
	.title{
		text-transform: uppercase;
		font-family: "AktivGroteskCorp-Light";
	}

	.btn-white{
		border: 1px solid #000;
		background-color: transparent;
		color: #000;
		height: 47px;
		border-radius: 0px;
		font-size: 16px;
		font-family: "AktivGroteskCorp-Regular";
		transition: .3s;
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.btn-white:hover{
		background-color: #000;
		color: #fff;
		transition: .3s;
	}

	.btn-black{
		border: 1px solid #000;
		background-color: #000;
		color: #fff;
		border-radius: 0px;
		font-family: "AktivGroteskCorp-Regular";
		transition: .3s;
		padding-top: 15px;
		padding-left: 25px;
		padding-right: 25px;
		text-transform: uppercase;
	}
	.btn-black:hover{
		background-color: #fff;
		color: #000;
		transition: .3s;
	}

/* --- blog aside --- */
	.aside{
		width: 170px;
	}
	.aside h5{
		text-transform: uppercase;
		color: #000000;
		font-size: 20px;
		margin-bottom: 29px;
	}
	.aside li{
		list-style: none;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.aside li a{
		color: #707070;
	}
	.aside li a:hover,
	.aside li.active a{
		font-weight: bold;
	}

/* --- barra de rolagem do navegador --- */
	::-webkit-scrollbar {
	 	width: 8px;
	  	height: 8px;
	  	border-radius: 20px;
	}
	::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	}
	::-webkit-scrollbar-thumb:vertical {
	  	background-color: #000;
	}
	::-webkit-scrollbar-thumb:horizontal {
		background-color: #000;
	}

/* --- LGPD --- */
	/* Deixa desabilitado por padrão */
	.js_enabled .lgpd-cookies {
	    display: none;
	}
	  
	.lgpd-cookies {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		width: 85vw;
		border: none;
		border-radius: 0;
		padding: 15px;
		position: fixed;
		bottom: 3%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 999;
		background: rgba(0, 0, 0, 0.85);
		box-shadow: 2px 1px 20px #00000029;
		border-radius: 10px;
	}
	  
	.lgpd-texto {
		width: 72%;
		text-align: center;
		margin-right: 20px;
		margin-left: 20px;
		color: #fff;
	}

	.lgpd-link {
		color: var(--clr-primary);
	}

	.lgpd-link:hover {
		color: var(--clr-primary);
	}

	.lgpd-botao {
		background: none;
		border: none;
		cursor: pointer;
		outline: none;
		color: #ffffff;
	}

	.lgpd-botao.continuar {
		border: 1px solid var(--clr-primary);
		border-radius: 8px;
		padding: 10px 15px;
		margin-right: 10px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.lgpd-botao.continuar:hover {
		color: #ffffff;
		background: var(--clr-primary);
	}

	.lgpd-botao.sair:hover {
		text-decoration: underline;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {	
	/* --- outros --- */
	.margin-left{
		margin-left: 0px;
	}
	.margin-right{
		margin-right: 0px;
	}

	/* --- blog aside --- */
	.aside{
		width: 170px;
	}
	.aside h5{
		text-transform: uppercase;
		color: #000000;
		font-size: 20px;
		margin-bottom: 29px;
	}
	.aside li{
		list-style: none;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.aside li a{
		color: #707070;
	}
	.aside li a:hover,
	.aside li.active a{
		font-weight: bold;
	}
}

@media screen and (max-width: 992px) {
	/* --- blog aside --- */
	.aside{
		position: absolute;
		z-index: 2;
		box-shadow: 0 10px 20px #00000029;
		width: 180px;
		padding: 10px;
		margin: -20px 0 0 50px;
	}
	.aside h5{
		text-transform: uppercase;
		color: #000000;
		font-size: 20px;
		margin-bottom: 29px;
	}
	.aside li{
		list-style: none;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.aside li a{
		color: #707070;
	}
	.aside li a:hover,
	.aside li.active a{
		font-weight: bold;
	}
}

@media screen and (max-width: 480px) {
	
}

@media screen and (max-width: 400px) {
	
}