/* --- header navegacao --- */
	header{
		position: fixed;
		max-width: 136px;
		width: 100%;
		height: 100vh;
		background-color: rgba(255, 255, 255, 0.70);
		z-index: 2;
		overflow: auto;
	}
	.navbar-collapse {
		flex-basis: initial;
		flex-grow: 0;
	}
	header .navbar{
		padding: 40px 0 15px 0;
		height: 100vh;
		display: flex;
		align-content: space-between;
	}
	header .navbar-brand img{
		width: 100%;
	}
	header .redes{
		width: 100%;
	}
	header .redes li{
		margin-bottom: 17px;
	}
	header .redes li img,
	header .redes li img:hover{
		transition: .3s;
	}
	header .redes li img:hover{
		filter: invert(1) brightness(100%);
	}

	header #links-menu{
		background-color: #000000!important;
		position: relative;
	}
	header .navbar-collapse.collapsing #links-menu {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -45%;
        transition: all 0.2s ease;
    }
    header .navbar-collapse.show #links-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        height: auto;
        width: 92%;
		padding-right: 200px;
        transition: left 0.35s ease;
    }

	header .navbar-collapse a.icon-close{
		position: absolute;
		top: 60px;
		right: -40px;
	}

	header .navbar-collapse li .border-white{
		height: 50px;
		border-right: 1px solid;
		display: inline-block;
		margin-right: 50px;
		margin-bottom: 5px;
	}

	header .navbar-collapse a.logo img{
		max-width: 90px;
		margin-bottom: 20px;
	}
	
	header .navbar-collapse .navbar-nav li a{
	    font-size: 35px;
		line-height: 50px;
		text-transform: uppercase;
	    font-family: "AktivGroteskCorp-Regular";
	    color: white;
		padding: 0;
	    transition: .3s;
	}
	header .navbar-nav li a:hover,
	header .navbar-nav li a.active{
		color: #ccc;
		transition: .3s
	}

	header .navbar-collapse .navbar-nav .redes-2{
		margin-top: 30px;
	}
	header .navbar-collapse .navbar-nav .redes-2 a{
		margin-left: 15px;
	}
	header .navbar-collapse .navbar-nav .redes-2 img{
		max-height: 25px;
		cursor: pointer;
	}
	header .navbar-collapse .navbar-nav .redes-2 input{
		position: relative;
		top: 30px;
		right: 40px;
	}

	#move-item {  
		pointer-events: none;
	}
	#move-item li a {
		pointer-events: auto;
	}

	header span.text-white{
		position: absolute;
		top: 84px;
		left: 15px;
	}
	header .dropdown-menu {
		position: absolute!important;
		max-width: 200px;
		margin-left: auto;
		top: -80px;
		right: -200px;
		z-index: 0;
		text-align: right;
		list-style: none;
		background-color:transparent;
		background-clip: padding-box;
		border: 0;
		border-radius: 0;
	}
	header .dropdown:hover .dropdown-menu{
		display: block;
	}
	
	header .dropdown-menu a{
		font-size: 20px!important;
		line-height: 33px!important;
	}
	header .dropdown-menu a:hover{
		background-color: transparent;
	}

/* --- footer --- */
	footer .footer{
		padding-top: 90px;
		padding-bottom: 54px;
	}
	footer .descricao h2{
		font-size: 21px;
		margin-bottom: 25px;
	}
	footer .descricao a{
		font-size: 16px;
		color: #fff;
	}
	
	footer .fale h2{
		font-size: 16px;
		margin-bottom: 21px;
	}
	footer .fale input{
		height: 54px;
		background-color: #fff;
		padding-top: 5px;
		padding-left: 15px;
		font-size: 16px;
	}	
	
/* --- footer copyright --- */
	footer #copyright{
		background-color: #1C1A1A;
		min-height: 85px;
		padding: 30px 0;
		text-align: center;
	}
	footer #copyright p{
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 3px;
	}

@media screen and (max-width: 1660px) {

}	

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- header navegacao --- */
	header{
		max-width: 100%;
		max-height: 66px;
		background-color: #000;
	}
	header .navbar{
		padding: 0;
		height: initial;
	}
	header .navbar-brand{
		padding: 0;
		margin-left: 0;
		margin-right: auto;
	}
	header .navbar-brand img{
		margin-bottom: 0px;
		width: initial;
	}
	header .redes{
		display: none;
	}
	header .redes li{
		display: inline-block;
		margin-bottom: 0px;
		margin: 0 10px;
	}
	header .navbar-toggler{
		display: inline-block!important;
		margin-top: 0px;
		margin-left: auto;
		margin-right: 0;
	}
	
    header .navbar-collapse.show #links-menu {
        width: 100%;
		overflow: auto;
		padding-right: 50px;
		padding-bottom: 30px;
    }

	header .navbar-collapse a.icon-close{
		top: 0px;
		right: initial;
		left: 10px;
	}
}

@media screen and (max-width: 992px) {
	/* --- footer --- */
	footer .footer{
		padding-top: 90px;
		padding-bottom: 54px;
	}
	footer .descricao h2{
		font-size: 21px;
		margin-bottom: 25px;
	}
	footer .descricao a{
		font-size: 16px;
		color: #fff;
	}
	
	footer .fale h2{
		font-size: 16px;
		margin-bottom: 21px;
	}
	footer .fale input{
		height: 54px;
		background-color: #fff;
		padding-top: 5px;
		padding-left: 15px;
		font-size: 16px;
	}
}

@media screen and (max-width: 480px) {
	/* --- header navegacao --- */
	header{
		max-width: 100%;
		max-height: 66px;
	}
	header .redes li img{
		max-width: 27px;
	}
	header .navbar{
		padding: 0;
	}
    header .navbar-collapse.show #links-menu {
        width: 100%;
		overflow: auto;
		padding-right: 30px;
		padding-bottom: 30px;
    }
	header .navbar-collapse a.icon-close{
		top: 0px;
		right: initial;
		left: 10px;
	}
	header .navbar-collapse a.icon-close img{
		max-width: 80px;
	}
	header .navbar-collapse li .border-white{
		margin-right: 35px;
	}
	header .navbar-collapse a.logo img{
		max-width: 70px;
	}	
	header .navbar-collapse .navbar-nav li a{
	    font-size: 25px;
		line-height: 35px;
	}
	header .navbar-collapse .navbar-nav .redes-2{
		margin-top: 30px;
	}
	header span.text-white{
		letter-spacing: -5px;
		top: 75px;
		left: 20px;
	}
	header .dropdown-menu {
		max-width: 180px;
		right: -170px;
	}

	/* --- footer --- */
	footer .footer{
		padding-top: 60px;
		padding-bottom: 30px;
		text-align: center;
	}
	footer .fale input{
		margin-bottom: 14px;
	}
	
	/* --- footer copyright --- */
	footer #copyright{
		padding: 25px 0;
	}
	footer #copyright p {
		font-size: 15px;
	}
}

@media screen and (max-width: 400px) {
	/* --- header navegacao --- */
	header .navbar-collapse a.icon-close img{
		max-width: 60px;
	}
	header .navbar-collapse li .border-white{
		margin-right: 30px;
	}
	header .navbar-collapse a.logo img{
		max-width: 60px;
	}	
	header .navbar-collapse .navbar-nav li a{
	    font-size: 20px;
		line-height: 30px;
	}
	header .navbar-collapse .navbar-nav .redes-2{
		margin-top: 20px;
	}
	header .navbar-collapse .navbar-nav .redes-2 a{
		margin-left: 10px;
	}
	header .navbar-collapse .navbar-nav .redes-2 img{
		max-height: 18px;
	}
	header span.text-white{
		top: 75px;
	}
	header .dropdown-menu {
		max-width: 160px;
		right: -165px;
	}	
	header .dropdown-menu a{
		font-size: 16px!important;
		line-height: 25px!important;
	}
}

@media screen and (max-width: 375px) {
	
}

