/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="index"] {
	color: #ccc!important;
}

/* --- carousel --- */
#carousel .carousel-item{
	background: url('../imagens/banners/banner-carousel.png')no-repeat center center;
	background-size: cover;
	/* height: 897px; */
	height: 100vh;
}
#carousel .carousel-inner h2{
	font-size: 56px;
}

/* --- carousel arrows --- */
#carousel .carousel-control-next,
#carousel .carousel-control-prev{
	display: none;
}

/* --- projetos --- */
#projetos{
	margin-top: 83px;
	margin-bottom: 190px;
}
#projetos hr{
	max-width: 50%;
	position: relative;
	margin: 0 0 0 auto;
	top: 25px;
	z-index: -1;
}
#projetos h2{
	background-color: #fff;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 44px;
	margin-bottom: 86px;
}
#projetos h2 span{
	padding-left: 5px;
	padding-right: 5px;
}
#projetos .row{
	margin-bottom: 42px;
	max-width: 1648px;
}
#projetos .box img{
	object-fit: cover;
	width: 100%;
	filter: grayscale(100%);
	transition: .3s;
}
#projetos .line-1 .box img{
	max-width: 805px;
	height: 537px;
}
#projetos .line-2 .box img{
	height: 842px;
}
#projetos .line-3 .box img{
	max-width: 522px;
	height: 348px;
}
#projetos .box{
	position: relative;
}
#projetos .box p{
	background-color: #00000080;
	color: #fff;
	margin-bottom: 0;
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 20px;
	padding: 5px 20px;
	opacity: 0;
	transition: .3s;
}
#projetos .box:hover img{
	filter: grayscale(0%);
	transition: .3s;
}
#projetos .box:hover p{
	opacity: 1;
	transition: .3s;
}

/* --- lugar --- */
#lugar{
	background-color: #C8C7C9;
	padding-top: 133px;
}
#lugar hr{
	max-width: 50%;
	position: relative;
	margin: 0 auto 0 0;
	top: 25px;
}
#lugar h2{
	background-color: #C8C7C9;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 44px;
	margin-bottom: 86px;
	position: relative;
	margin-bottom: 127px;
}
#lugar h2 span{
	padding-left: 5px;
	padding-right: 5px;
}
#lugar .box{
	max-width: 374px;
	width: 100%;
	margin-left: 50px;
	margin-right: 50px;
}
#lugar .box img{
	margin-bottom: 38px;
}
#lugar .box h3{
	font-size: 26px;
	margin-bottom: 25px;
	text-transform: uppercase;
}
#lugar .box p{
	font-size: 16px;
	line-height: 20px;
	color: #707070;
	margin-bottom: 0;
	height: 100px;
	overflow: auto;
}
#lugar .box p::-webkit-scrollbar {
	width: 5px;
}
#lugar .box p::-webkit-scrollbar-track-piece {
	background-color: white;
	border: 1px solid #000;
}
#lugar .box p::-webkit-scrollbar-thumb:vertical {
	background-color: #000;
}
#lugar img.img-fluid{
	margin-top: 113px;
	max-width: 1160px;
	width: 100%;
	height: 770px;
	object-fit: cover;
	filter: grayscale(100%);
	margin-bottom: -180px;
}

/* --- numeros --- */
#numeros{
	margin-top: 250px;
	margin-bottom: 124px;
}
#numeros hr{
	max-width: 70%;
	position: relative;
	margin: 0 0 0 auto;
	top: 50px;
}
#numeros h2{
	font-size: 44px;
	margin-bottom: 212px;
}
#numeros h2 span{
	padding-left: 5px;
	padding-right: 5px;
}
#numeros .col-6.bg-black,
#numeros .col-6.bg-white{
	padding: 0;
	height: 253px;
	padding-top: 70px;
	font-family: "AktivGroteskCorp-Light";
}
#numeros p.count{
	font-size: 79px;
	text-align: center;
}
#numeros p.desc{
	font-size: 23px;
	padding-top: 30px;
	padding-left: 40px;
}
#numeros .imagem{
	margin-top: -300px;
	position: relative;
	z-index: 1;
}
#numeros .imagem .box-white{
	max-width: 822px;
	height: 428px;
	background-color: white;
	position: relative;
	margin-left: -50px;
	z-index: -1;
}
#numeros .imagem img{
	margin-top: -375px;
}

/* --- blog --- */
#blog{
	margin-bottom: 155px;
}
#blog h2{
	font-size: 55px;
	margin-top: 120px;
}
#blog .slider{
	margin-left: -50px;
}
#blog .slider .box{
	max-width: 291px;
	width: 100%;
}
#blog .box .imagem{
	position: relative;
}
#blog .box .imagem img{
	max-width: 344px;
	width: 100%;
	height: 291px;
	object-fit: cover;
}
#blog .box .imagem p.data{
	position: absolute;
	bottom: 0px;
	right: 10px;
	width: 40px;
	height: 51px;
	background-color: #000;
	color: white;
	font-size: 21px;
	text-transform: uppercase;
	line-height: 20px;
	padding-top: 5px;
	text-align: center;
}
#blog .box .imagem p.data span{
	font-size: 15px;
}
#blog .box hr{
	max-width: 27%;
	position: relative;
	margin: 0 0 0 auto;
	top: 26px;
}
#blog .box h3{
	height: 51px;
	background-color: #000;
	color: white;
	padding-top: 15px;
	padding-left: 10px;
	font-size: 19px;
	margin-top: -2px;
	margin-bottom: 0;
	text-transform: uppercase;
	font-family: "AktivGroteskCorp-Light";
}
#blog .box p{
	margin-top: 34px;
	margin-bottom: 0;
	font-size: 15px;
}
#blog .btn-slick-carousel-left,
#blog .btn-slick-carousel-right{
	position: absolute;
	z-index: 1;
	top: 40%;
	cursor: pointer;
}
#blog .btn-slick-carousel-left{
	left: -16%;
}
#blog .btn-slick-carousel-right{
	right: 112%;
}

@media screen and (max-width: 1660px) {
	/* --- lugar --- */
	#lugar .margin-right{
		margin-right: 0;
	}
	#lugar .box{
		margin-left: 40px;
		margin-right: 40px;
	}

	/* --- numeros --- */
	#numeros hr{
		max-width: 65%;
	}

	/* --- blog --- */
	#blog .btn-slick-carousel-right{
		right: 111%;
	}
}

@media screen and (max-width: 1440px) {
	/* --- lugar --- */
	#lugar .box{
		margin-left: 0px;
		margin-right: 0px;
	}
	#lugar .box:nth-child(2){
		margin-left: 30px;
		margin-right: 30px;
	}

	/* --- numeros --- */
	#numeros hr{
		max-width: 55%;
	}
	#numeros .col-6.bg-black,
	#numeros .col-6.bg-white{
		padding: 0;
		height: 200px;
		padding-top: 45px;
	}
	#numeros p.count{
		font-size: 75px;
	}
	#numeros p.desc{
		font-size: 23px;
		padding-top: 20px;
		padding-left: 20px;
	}

	/* --- blog --- */
	#blog .btn-slick-carousel-left{
		left: -14%;
	}
	#blog .btn-slick-carousel-right{
		right: 108%;
	}
}
@media screen and (min-width: 1201px) and (max-width: 1365px) {
	/* --- lugar --- */
	#lugar .box{
		margin-left: 50px;
		margin-right: 50px;
	}
	#lugar .box:nth-child(2){
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media screen and (max-width: 1200px) {
	/* --- projetos --- */
	#projetos{
		margin-bottom: 50px;
	}

	/* --- lugar --- */
	#lugar{
		padding-top: 60px;
	}
	#lugar h2{
		margin-bottom: 70px;
	}
	#lugar .box{
		max-width: 369px;
	}
	#lugar .box img{
		margin-bottom: 30px;
	}
	
	/* --- numeros --- */
	#numeros{
		margin-bottom: 50px;
	}
	#numeros hr{
		max-width: 68%;
	}
	#numeros h2{
		margin-bottom: 100px;
	}
	#numeros .col-6.bg-black,
	#numeros .col-6.bg-white{
		height: 250px;
		padding-top: 45px;
	}
	#numeros .imagem{
		margin-top: 0px;
	}
	#numeros .imagem .box-white{
		display: none;
	}
	#numeros .imagem img{
		margin-top: 0px;
		border: 20px solid #fff;
		width: 100%;
		height: 800px;
		object-fit: cover;
	}

	/* --- blog --- */
	#blog{
		margin-bottom: 50px;
	}
	#blog h2{
		font-size: 55px;
		margin-top: 50px;
		margin-bottom: 100px;
	}
	#blog .slider{
		margin-left: 0px;
	}
	#blog .box p{
		margin-top: 20px;
	}
	#blog .btn-slick-carousel-left,
	#blog .btn-slick-carousel-right{
		top: -18%;
	}
	#blog .btn-slick-carousel-left{
		left: 1%;
	}
	#blog .btn-slick-carousel-right{
		right: 92%;
	}
}

@media screen and (max-width: 992px) {
	/* --- projetos --- */
	#projetos .row{
		margin-bottom: 0px;
	}
	#projetos .box img{
		margin-bottom: 20px;
	}
	#projetos .line-1 .box img{
		max-width: 100%;
	}
	#projetos .line-2 .box img{
		max-width: 100%;
	}
	#projetos .line-3 .box img{
		max-width: 100%;
	}
	#projetos .box p{
		bottom: 40px;
	}
	#projetos .btn-white {
		margin-top: 20px;
		margin-right: 15px;
		font-size: 16px;
	}

	/* --- numeros --- */
	#numeros{
		margin-bottom: 50px;
	}
	#numeros hr{
		max-width: 55%;
	}
	#numeros h2{
		margin-bottom: 100px;
	}
	#numeros .col-6.bg-black,
	#numeros .col-6.bg-white{
		height: 200px;
		padding-top: 45px;
	}
	#numeros p.count{
		font-size: 75px;
	}
	#numeros p.desc{
		padding-top: 25px;
		padding-left: 25px;
	}
	#numeros .imagem{
		margin-top: 0px;
	}
	#numeros .imagem .box-white{
		display: none;
	}
	#numeros .imagem img{
		margin-top: 0px;
		border: 20px solid #fff;
		width: 100%;
		height: 800px;
		object-fit: cover;
	}
}

@media screen and (max-width: 480px) {
	/* --- carousel --- */
	#carousel .carousel-item{
		height: 477px;
	}
	#carousel .carousel-inner h2{
		font-size: 32px;
	}

	/* --- projetos --- */
	#projetos hr{
		display: none;
	}
	#projetos h2{
		font-size: 32px;
		margin-bottom: 35px;
	}
	#projetos .row{
		margin-bottom: 0px;
	}
	#projetos .box img{
		margin-bottom: 20px;
	}
	#projetos .line-1 .box img{
		height: 257px;
	}
	#projetos .line-2 .box img{
		height: 257px;
	}
	#projetos .line-3 .box img{
		height: 257px;
	}
	#projetos .box p{
		bottom: 30px;
		left: 10px;
		font-size: 16px;
	}
	#projetos .btn-white {
		margin-right: 0px;
	}

	/* --- lugar --- */
	#lugar{
		padding-top: 60px;
	}
	#lugar hr{
		display: none;
	}
	#lugar h2{
		font-size: 30px;
		margin-bottom: 70px;
	}
	#lugar .box{
		margin-bottom: 60px;
	}
	#lugar .box p {
		height: 100px;
	}
	#lugar img.img-fluid{
		margin-top: 0px;
		height: 330px;
	}

	/* --- numeros --- */
	#numeros{
		margin-bottom: 50px;
	}
	#numeros hr{
		max-width: 30%;
	}
	#numeros h2{
		font-size: 30px;
		margin-left: 40px;
		margin-bottom: 80px;
	}
	#numeros .col-6.bg-black,
	#numeros .col-6.bg-white{
		height: 200px;
		padding-top: 50px;
	}
	#numeros p.count{
		font-size: 64px;
	}
	#numeros p.desc{
		font-size: 18px;
		padding-top: 25px;
		padding-left: 45px;
	}
	#numeros .imagem img{
		height: 490px;
	}

	/* --- blog --- */
	#blog{
		margin-bottom: 50px;
	}
	#blog h2{
		text-align: center;
		font-size: 32px;
		margin-top: 0px;
	}
	#blog .slider .box{
		max-width: 296px;
	}
	#blog .box .imagem img{
		height: 250px;
	}
	#blog .box .imagem p.data{
		right: 0px;
		width: 35px;
		font-size: 18px;
	}
	#blog .box .imagem p.data span{
		font-size: 12px;
	}
	#blog .box h3{
		height: 44px;
		padding-top: 15px;
		font-size: 16px;
	}
	#blog .btn-slick-carousel-left,
	#blog .btn-slick-carousel-right{
		top: -18%;
	}
	#blog .btn-slick-carousel-left{
		left: 40%;
	}
	#blog .btn-slick-carousel-right{
		right: 40%;
	}
}

@media screen and (max-width: 400px) {
	/* --- numeros --- */
	#numeros .col-6.bg-black,
	#numeros .col-6.bg-white{
		height: 180px;
		padding-top: 40px;
	}
	#numeros p.desc{
		padding-left: 35px;
	}
}

@media screen and (max-width: 350px) {
	/* --- numeros --- */
	#numeros .col-6.bg-black,
	#numeros .col-6.bg-white{
		height: 150px;
		padding-top: 30px;
	}
	#numeros p.count{
		font-size: 60px;
	}
	#numeros p.desc{
		padding-top: 20px;
		padding-left: 15px;
	}
}

