/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="projetos.html"] {
	color: #ccc!important;
}

/* --- descricao --- */
#descricao{
    padding-top: 100px;
    padding-bottom: 80px;
}
#descricao .ml-auto{
    max-width: 631px;
    margin-right: 100px;
}
#descricao h1{
    font-size: 64px;
    text-transform: uppercase;
}
#descricao p{
    font-size: 16px;
    margin-bottom: 40px;
}

/* --- imagem destaque --- */
.imagem-destaque img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* --- frase destaque --- */
#frase-destaque{
    padding-top: 70px;
    padding-bottom: 100px;
}
#frase-destaque .mr-auto{
    max-width: 637px;
}
#frase-destaque h1{
    font-size: 64px;
    text-transform: uppercase;
}
#frase-destaque p{
    font-size: 16px;
    margin-bottom: 40px;
}

/* --- grid imagens --- */
#grid-imagens img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 68px;
}
#grid-imagens .bloco-1 img{
    height: 528px;
}
#grid-imagens .bloco-2 img{
    height: 1126px;
}
#grid-imagens .bloco-3 img,
#grid-imagens .bloco-4 img{
    height: 528px;
}

/* --- outros-projetos --- */
#outros-projetos{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%), url(../imagens/bg/bg-outros-projetos.png)no-repeat center;
    background-size: cover;
    height: 392px;
    margin-bottom: 75px;
}
#outros-projetos .my-auto{
    margin-left: 80px;
    letter-spacing: 3px;
}
#outros-projetos p.desc{
    font-size: 14px;
    margin-bottom: 30px;
}
#outros-projetos h2{
    font-size: 29px;
}
#outros-projetos p.sobre{
    font-size: 14px;
    letter-spacing: 4px;
}
#outros-projetos p.sobre span{
    position: relative;
    top: -6px;
    letter-spacing: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 1200px) {
	/* --- descricao --- */
    #descricao{
        padding-top: 150px;
        padding-bottom: 50px;
    }
    #descricao .ml-auto{
        margin-right: 0px;
    }

    /* --- frase destaque --- */
    #frase-destaque{
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 992px) {
	/* --- descricao --- */
    #descricao{
        padding-top: 150px;
        padding-bottom: 50px;
    }
    #descricao .ml-auto{
        max-width: 100%;
    }
    #descricao h1{
        font-size: 32px;
        margin-bottom: 40px;
    }
    #descricao p{
        margin-bottom: 30px;
    }

    /* --- frase destaque --- */
    #frase-destaque{
        padding-bottom: 50px;
    }
    #frase-destaque .mr-auto{
        max-width: 100%;
    }
    #frase-destaque h1{
        font-size: 32px;
        margin-bottom: 40px;
    }
    #frase-destaque p{
        margin-bottom: 30px;
    }

    /* --- grid imagens --- */
    #grid-imagens img{
        margin-bottom: 20px;
    }
    #grid-imagens .bloco-1 img{
        height: 445px;
    }
    #grid-imagens .bloco-2 img{
        height: 445px;
    }
    #grid-imagens .bloco-3 img,
    #grid-imagens .bloco-4 img{
        height: 445px;
    }
}

@media screen and (max-width: 480px) {
	/* --- descricao --- */
    #descricao{
        padding-top: 120px;
        padding-bottom: 20px;
    }

    /* --- frase destaque --- */
    #frase-destaque{
        padding-top: 50px;
        padding-bottom: 20px;
    }

    /* --- outros-projetos --- */
    #outros-projetos{
        margin-bottom: 60px;
    }
    #outros-projetos .my-auto{
        margin-left: 30px;
    }
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}