/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="projetos.html"] {
	color: #ccc!important;
}

/* --- projetos --- */
#projetos{
	padding-top: 20px;
	padding-bottom: 70px;
}
#projetos a{
	margin-bottom: 30px;
}
#projetos a img.img-fluid{
	width: 100%;
	object-fit: cover;
}
#projetos .bloco-1 img.img-fluid{
	height: 1237px;
}
#projetos .bloco-2 img.img-fluid{
	height: 604px;
}
#projetos .bloco-3 img.img-fluid,
#projetos .bloco-4 img.img-fluid{
	height: 582px;
}
#projetos .bloco-5 img.img-fluid{
	height: 736px;
}
#projetos .bloco-6 img.img-fluid{
	height: 432px;
}
#projetos .bloco-7 img.img-fluid{
	height: 1356px;
}

#projetos .imagem{
	position: relative;
	transition: .4s;
}
#projetos .imagem .desc{
	opacity: 0;
	position: absolute;
	bottom: 0;
	color: white;
	max-width: 374px;
	width: 100%;
	margin: 35px 48px;
	transition: .4s;
}
#projetos .imagem .desc h3{
	font-size: 26px;
	text-transform: uppercase;
}
#projetos .imagem .desc p{
	font-size: 16px;
}
#projetos .imagem .desc img{
	filter: brightness(100%) invert(1);
}

#projetos .imagem:hover::before{
	content: '';
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	transition: .4s;
}
#projetos .imagem:hover .desc{
	opacity: 1;
	transition: .4s;
}

#projetos a.btn-white{
	color: #000!important;
}
#projetos a.btn-white:hover{
	color: #fff!important;
}

@media screen and (max-width: 992px) {
	/* --- projetos --- */
	#projetos .bloco-1 img.img-fluid{
		height: 657px;
	}
	#projetos .bloco-2 img.img-fluid{
		height: 256px;
	}
	#projetos .bloco-3 img.img-fluid,
	#projetos .bloco-4 img.img-fluid{
		height: 256px;
	}
	#projetos .bloco-5 img.img-fluid{
		height: 256px;
	}
	#projetos .bloco-6 img.img-fluid{
		height: 256px;
	}
	#projetos .bloco-7 img.img-fluid{
		height: 657px;
	}
	#projetos .imagem .desc h3{
		font-size: 20px;
	}
	#projetos .imagem .desc p{
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 10px;
	}
	#projetos a.btn-white{
		margin-top: 50px;
	}
}

@media screen and (max-width: 480px) {
	/* --- projetos --- */
	#projetos .imagem .desc{
		max-width: 300px;
		margin: 15px 35px;
	}
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	/* --- projetos --- */
	#projetos .imagem .desc{
		max-width: 285px;
		margin: 15px 20px;
	}
}