/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="servicos.html"] {
	color: #ccc!important;
}

/* --- servicos 1 / bloco 1 --- */
#servicos-1 .bloco-1{
    margin-bottom: 150px;
}
#servicos-1 .bloco-1 img.img-fluid{
    width: 100%;
    height: 594px;
    object-fit: cover;
}
#servicos-1 .bloco-1 .desc{
    max-width: 370px;
    width: 100%;
    margin-left: 180px;
}
#servicos-1 .bloco-1 .desc img{
    margin-bottom: 24px;
}
#servicos-1 .bloco-1 .desc h2{
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #000000;
}
#servicos-1 .bloco-1 .desc p{
    font-size: 16px;
    margin-bottom: 0;
    color: #707070;
}

/* --- servicos 2 / bloco 2 --- */
#servicos-1 .bloco-2{
    margin-bottom: 190px;
}
#servicos-1 .bloco-2 img.img-fluid{
    width: 100%;
    height: 1532px;
    object-fit: cover;
}
#servicos-1 .bloco-2 .desc{
    max-width: 350px;
    width: 100%;
    margin-left: 260px;
}
#servicos-1 .bloco-2 .desc:nth-child(1),
#servicos-1 .bloco-2 .desc:nth-child(2){
    margin-bottom: 230px;
}
#servicos-1 .bloco-2 .desc img{
    margin-bottom: 24px;
}
#servicos-1 .bloco-2 .desc h2{
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #000000;
}
#servicos-1 .bloco-2 .desc p{
    font-size: 16px;
    color: #707070;
    margin-bottom: 0;
}

/* --- imagem destaque --- */
.imagem-destaque img{
    width: 100%;
    height: 657px;
    object-fit: cover;
    margin-bottom: 170px;
}

/* --- servicos 2 / bloco 3 --- */
#servicos-2 .bloco-3{
    margin-bottom: 150px;
}
#servicos-2 .bloco-3 img.img-fluid{
    width: 100%;
    height: 890px;
    object-fit: cover;
}
#servicos-2 .bloco-3 .desc{
    max-width: 370px;
    width: 100%;
    margin-left: 150px;
}
#servicos-2 .bloco-3 .desc img{
    margin-bottom: 24px;
}
#servicos-2 .bloco-3 .desc h2{
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #000000;
}
#servicos-2 .bloco-3 .desc p{
    font-size: 16px;
    margin-bottom: 0;
    color: #707070;
}

/* --- servicos 2 / bloco 4 --- */
#servicos-2 .bloco-4{
    margin-bottom: 125px;
}
#servicos-2 .bloco-4 .desc{
    max-width: 350px;
    width: 100%;
    margin-left: 90px;
}
#servicos-2 .bloco-4 .desc img{
    margin-bottom: 24px;
}
#servicos-2 .bloco-4 .desc h2{
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #000000;
}
#servicos-2 .bloco-4 .desc p{
    font-size: 16px;
    margin-bottom: 0;
    color: #707070;
}
#servicos-2 .bloco-4 img.img-fluid{
    width: 100%;
    height: 465px;
    object-fit: cover;
}

/* --- servicos 3 / bloco 5 --- */
#servicos-3 .bloco-5{
    margin-bottom: 95px;
}
#servicos-3 .bloco-5 img.img-fluid{
    width: 100%;
    height: 465px;
    object-fit: cover;
}
#servicos-3 .bloco-5 .desc{
    max-width: 350px;
    width: 100%;
    margin-left: 150px;
}
#servicos-3 .bloco-5 .desc img{
    margin-bottom: 24px;
}
#servicos-3 .bloco-5 .desc h2{
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #000000;
}
#servicos-3 .bloco-5 .desc p{
    font-size: 16px;
    margin-bottom: 0;
    color: #707070;
}

/* --- servicos 3 / bloco 6 --- */
#servicos-3 .bloco-6{
    max-width: 1039px;
    margin-bottom: 225px;
}
#servicos-3 .bloco-6 img.img-fluid{
    width: 100%;
    margin-bottom: 140px;
}
#servicos-3 .bloco-6 .desc{
    max-width: 350px;
    width: 100%;
}
#servicos-3 .bloco-6 .desc img{
    margin-bottom: 24px;
}
#servicos-3 .bloco-6 .desc h2{
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #000000;
}
#servicos-3 .bloco-6 .desc p{
    font-size: 16px;
    margin-bottom: 0;
    color: #707070;
}

/* --- outros-projetos --- */
#outros-projetos hr{
    max-width: 70%;
    margin-right: 0;
    background-color: #000000;
    position: relative;
    top: 130px;
}
#outros-projetos h2{
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 120px;
}
#outros-projetos .imagem{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%), url(../imagens/bg/bg-outros-projetos.png)no-repeat center;
    background-size: cover;
    height: 392px;
    margin-bottom: 190px;
}
#outros-projetos .my-auto{
    margin-left: 80px;
    letter-spacing: 3px;
}
#outros-projetos p.desc{
    font-size: 14px;
    margin-bottom: 30px;
}
#outros-projetos h3{
    font-size: 29px;
}
#outros-projetos p.sobre{
    font-size: 14px;
    letter-spacing: 4px;
}
#outros-projetos p.sobre span{
    position: relative;
    top: -6px;
    letter-spacing: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 1660px) {
	/* --- servicos 1 / bloco 1 --- */
    #servicos-1 .bloco-1{
        margin-bottom: 150px;
    }
    #servicos-1 .bloco-1 .desc{
        max-width: 370px;
        margin-left: 150px;
    }

    /* --- servicos 2 / bloco 2 --- */
    #servicos-1 .bloco-2 .desc{
        max-width: 350px;
        margin-left: 130px;
    }

    /* --- servicos 2 / bloco 3 --- */
    #servicos-2 .bloco-3 .desc{
        max-width: 370px;
        margin-left: 150px;
    }

    /* --- servicos 2 / bloco 4 --- */
    #servicos-2 .bloco-4 .desc{
        max-width: 350px;
        margin-left: 40px;
    }

    /* --- servicos 3 / bloco 5 --- */
    #servicos-3 .bloco-5 .desc{
        max-width: 350px;
        margin-left: 80px;
    }

    /* --- servicos 3 / bloco 6 --- */
    #servicos-3 .bloco-6 .desc{
        max-width: 350px;
    }
}

@media screen and (max-width: 1440px) {
	/* --- outros-projetos --- */
    #outros-projetos hr{
        max-width: 60%;
    }
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	/* --- servicos 1 / bloco 1 --- */
    #servicos-1 .bloco-1{
        margin-bottom: 70px;
    }
    #servicos-1 .bloco-1 .desc{
        max-width: 100%;
        margin-left: 0px;
        padding-left: 20px;
    }

    /* --- servicos 2 / bloco 2 --- */
    #servicos-1 .bloco-2{
        margin-bottom: 80px;
    }
    #servicos-1 .bloco-2 .desc{
        max-width: 100%;
        margin-left: 0px;
        padding-left: 20px;
    }
    #servicos-1 .bloco-2 .desc:nth-child(1),
    #servicos-1 .bloco-2 .desc:nth-child(2){
        margin-bottom: 80px;
    }

    /* --- imagem destaque --- */
    .imagem-destaque img{
        margin-bottom: 50px;
    }

    /* --- servicos 2 / bloco 3 --- */
    #servicos-2 .bloco-3{
        margin-bottom: 50px;
    }
    #servicos-2 .bloco-3 .desc{
        max-width: 100%;
        margin-left: 0px;
        padding-left: 20px;
    }

    /* --- servicos 2 / bloco 4 --- */
    #servicos-2 .bloco-4{
        margin-bottom: 50px;
    }
    #servicos-2 .bloco-4 .desc{
        max-width: 100%;
        margin-left: 0px;
        padding-left: 20px;
    }

    /* --- servicos 3 / bloco 5 --- */
    #servicos-3 .bloco-5{
        margin-bottom: 50px;
    }
    #servicos-3 .bloco-5 .desc{
        max-width: 100%;
        margin-left: 0px;
        padding-left: 20px;
    }

    /* --- servicos 3 / bloco 6 --- */
    #servicos-3 .bloco-6{
        margin-bottom: 50px;
    }
    #servicos-3 .bloco-6 img.img-fluid{
        margin-bottom: 0px;
    }
    #servicos-3 .bloco-6 .desc{
        max-width: 100%;
    }

    /* --- outros-projetos --- */
    #outros-projetos hr{
        max-width: 40%;
    }
    #outros-projetos .imagem{
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 480px) {
	/* --- servicos 1 / bloco 1 --- */
    #servicos-1 .bloco-1{
        margin-bottom: 50px;
    }
    #servicos-1 .bloco-1 img.img-fluid{
        height: 100vh;
    }
    #servicos-1 .bloco-1 .desc{
        padding-right: 20px;
    }

    /* --- servicos 2 / bloco 2 --- */
    #servicos-1 .bloco-2{
        margin-bottom: 80px;
    }
    #servicos-1 .bloco-2 img.img-fluid{
        height: 900px;
    }
    #servicos-1 .bloco-2 .desc{
        padding-right: 20px;
    }
    #servicos-1 .bloco-2 .desc:nth-child(1),
    #servicos-1 .bloco-2 .desc:nth-child(2){
        margin-bottom: 50px;
    }

    /* --- servicos 2 / bloco 3 --- */
    #servicos-2 .bloco-3{
        margin-bottom: 50px;
    }
    #servicos-2 .bloco-3 img.img-fluid{
        height: 100vh;
    }
    #servicos-2 .bloco-3 .desc{
        padding-right: 20px;
    }

    /* --- servicos 2 / bloco 4 --- */
    #servicos-2 .bloco-4{
        margin-bottom: 50px;
    }
    #servicos-2 .bloco-4 .desc{
        padding-right: 20px;
    }
    #servicos-2 .bloco-4 img.img-fluid{
        height: 100vh;
    }

    /* --- servicos 3 / bloco 5 --- */
    #servicos-3 .bloco-5{
        margin-bottom: 50px;
    }
    #servicos-3 .bloco-5 img.img-fluid{
        height: 100vh;
    }
    #servicos-3 .bloco-5 .desc{
        padding-right: 20px;
    }

    /* --- outros-projetos --- */
    #outros-projetos hr{
        display: none;
    }
    #outros-projetos h2{
        font-size: 32px;
        text-align: center;
        margin-bottom: 50px;
    }
    #outros-projetos .imagem{
        margin-bottom: 60px;
    }
    #outros-projetos .my-auto{
        margin-left: 30px;
    }
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}