/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="sobre.html"] {
	color: #ccc!important;
}

/* --- sobre ---  */
#sobre{
	padding-top: 150px;
	margin-bottom: 200px;
}
#sobre h2{
	margin-bottom: 120px;
	text-transform: uppercase;
	font-size: 44px;
	max-width: 315px;
	margin-left: auto;
	margin-right: 350px;
	font-family: "AktivGroteskCorp-Light";
}
#sobre h2 span{
	background-color: #000;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}
#sobre img.img-fluid{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1456px;
	width: 100%;
	height: 415px;
	object-fit: cover;
	margin-bottom: 120px;
}
#sobre .desc{
	max-width: 1028px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#sobre .desc p{
	font-size: 22px;
}
#sobre hr.bg-black{
	max-width: 40%;
	margin-right: 0;
}

/* --- equipe --- */
#equipe{
	margin-bottom: 180px;
}
#equipe hr.bg-black{
	max-width: 38%;
	position: relative;
	top: 40px;
	margin-left: 0;
}
#equipe h2{
	font-size: 44px;
	margin-bottom: 140px;
}
#equipe .slick-slide {
	max-height: 790px!important;
}
#equipe .box{
	max-width: 414px;
	width: 100%;
}
#equipe .box img.img-fluid{
	max-width: 334px;
	width: 100%;
	height: 334px;
	object-fit: cover;
	position: relative;
	z-index: 1;
}
#equipe h3{
	margin-top: 30px;
	margin-left: 40px;
	font-size: 35px;
	font-family: "AktivGroteskCorp-Light";
}
#equipe img.icon-vermais{
	width: 29px;
	height: 23px;
	margin-top: 40px;
	margin-right: 40px;
}
#equipe .box .desc{
	position: relative;
	top: -130px;
	max-width: 414px;
	width: 100%;
	height: 428px;
	padding: 85px 40px 42px;
	border: 1px solid #707070;
	display: none;
}
#equipe .desc p{
	margin-top: 60px;
	font-size: 16px;
	margin-bottom: 0;
}
#equipe .box:hover .desc{
	display: block;
}
#equipe .btn-slick-carousel-left,
#equipe .btn-slick-carousel-right{
	position: absolute;
	z-index: 1;
	top: 180px;
	cursor: pointer;
}
#equipe .btn-slick-carousel-left{
	left: 0%;
}
#equipe .btn-slick-carousel-right{
	right: 0%;
}

/* --- numeros --- */
#numeros .col-6.bg-black,
#numeros .col-6.bg-white{
	position: relative;
	padding: 0;
	height: 253px;
	padding-top: 70px;
	font-family: "AktivGroteskCorp-Light";
}
#numeros .col-6.bg-black hr,
#numeros .col-6.bg-white hr{
	position: absolute;
	width: 15%;
	top: 45%;
}
#numeros .l-0{
	left: 0;
}
#numeros .r-0{
	right: 0;
}
#numeros .col-6.bg-black hr{
	background-color: white;
}
#numeros .col-6.bg-white hr{
	background-color: #000;
}

#numeros p.count{
	font-size: 79px;
	text-align: center;
}
#numeros p.desc{
	font-size: 23px;
	padding-top: 30px;
	padding-left: 40px;
}
#numeros .imagem img{
	height: 100%;
	object-fit: cover;
}
	
/* --- historia --- */
#historia{
	background-color: #C8C7C9;
	padding-top: 150px;
	padding-bottom: 200px;
}
#historia h2{
	font-size: 44px;
	margin-bottom: 95px;
}
#historia .slick-track{
	padding-top: 20px;
	padding-bottom: 90px;
}
#historia .slider-nav{
	max-width: 1270px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#historia .slider-nav .ano p{
	width: 208px;
	height: 63px;
	font-size: 47px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: "AktivGroteskCorp-Light";
	transition: .3s;
}
#historia .slider-nav .ano p img{
	display: inline;
	filter: brightness(100%) invert(1);
	margin-left: 15px;
}
#historia .slider-nav .slick-current.slick-active .ano img{
	margin-left: 0;
	display: none;
}
#historia .slider-nav .slick-current.slick-active .ano p{
	margin-top: -11px;
	text-align: center;
	width: 180px;
	color: #000;
	background-color: white;
	font-size: 54px;
	margin-right: 20px;
	height: auto;
	transition: .3s;
}
#historia .carousel-descricao .desc{
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#historia .carousel-descricao .desc p{
	font-size: 18px;
	color: white;
	text-align: justify;
}

/* --- imagem-destaque --- */
#imagem-destaque img{
	margin-top: -190px;
	max-width: 1642px;
	width: 100%;
	height: 390px;
	object-fit: cover;
}

@media screen and (max-width: 1660px) {
	/* --- outros --- */
	.margin-right{
		margin-right: 0px;
	}

	/* --- numeros --- */
	#numeros .col-6.bg-black hr,
	#numeros .col-6.bg-white hr{
		width: 13%;
	}
}

@media screen and (max-width: 1440px) {
	/* --- sobre ---  */
	#sobre h2{
		margin-right: 100px;
	}

	/* --- equipe --- */
	#equipe hr.bg-black{
		max-width: 35%;
	}

	/* --- numeros --- */
	#numeros .col-6.bg-black,
	#numeros .col-6.bg-white{
		height: 160px;
		padding-top: 40px;
	}
	#numeros .col-6.bg-black hr,
	#numeros .col-6.bg-white hr{
		width: 8%;
	}
	#numeros p.count{
		font-size: 60px;
		text-align: center;
	}
	#numeros p.desc{
		font-size: 20px;
		padding-top: 20px;
		padding-left: 15px;
		line-height: 25px;
	}
		
	/* --- historia --- */
	#historia{
		padding-left: 160px;
	}
}

@media screen and (max-width: 1200px) {
	/* --- sobre ---  */
	#sobre h2{
		margin-right: 100px;
	}
	#sobre img.img-fluid{
		height: auto;
	}
	#sobre .desc{
		padding-left: 15px;
		padding-right: 15px;
	}

	/* --- equipe --- */
	#equipe hr.bg-black{
		max-width: 32%;
	}
	#equipe .box .desc{
		height: auto;
	}
	#equipe .btn-slick-carousel-left,
	#equipe .btn-slick-carousel-right{
		top: initial;
		bottom: -80px;
	}
	#equipe .btn-slick-carousel-left{
		left: 45%;
	}
	#equipe .btn-slick-carousel-right{
		right: 45%;
	}

	/* --- numeros --- */
	#numeros .col-6.bg-black,
	#numeros .col-6.bg-white{
		height: 220px;
		padding-top: 50px;
	}
	#numeros p.count{
		font-size: 90px;
	}
	#numeros p.desc{
		font-size: 28px;
		padding-top: 30px;
		padding-left: 25px;
		line-height: 30px;
	}
		
	/* --- historia --- */
	#historia{
		padding-left: 0px;
	}
}

@media screen and (max-width: 992px) {
	/* --- sobre ---  */
	#sobre{
		padding-top: 130px;
		margin-bottom: 80px;
	}
	#sobre h2{
		margin-bottom: 80px;
		margin-left: auto;
		margin-right: auto;
	}
	#sobre img.img-fluid{
		height: auto;
		margin-bottom: 50px;
	}

	/* --- equipe --- */
	#equipe hr.bg-black{
		max-width: 25%;
	}
	#equipe h2{
		font-size: 36px;
		margin-bottom: 90px;
	}
	#equipe .box .desc{
		height: auto;
	}
	#equipe .btn-slick-carousel-left,
	#equipe .btn-slick-carousel-right{
		top: initial;
		bottom: -80px;
	}
	#equipe .btn-slick-carousel-left{
		left: 45%;
	}
	#equipe .btn-slick-carousel-right{
		right: 45%;
	}

	/* --- numeros --- */
	#numeros .col-6.bg-black,
	#numeros .col-6.bg-white{
		height: 200px;
		padding-top: 40px;
	}
	#numeros p.count{
		font-size: 80px;
	}
	#numeros p.desc{
		font-size: 20px;
		padding-top: 30px;
		padding-left: 28px;
		line-height: 25px;
	}
		
	/* --- historia --- */
	#historia{
		padding-left: 0px;
	}
}

@media screen and (max-width: 480px) {
	/* --- sobre ---  */
	#sobre h2{
		font-size: 38px;
		text-align: center;
		margin-bottom: 60px;
	}
	#sobre img.img-fluid{
		height: auto;
		margin-bottom: 50px;
	}
	#sobre .desc p{
		font-size: 16px;
	}

	/* --- equipe --- */
	#equipe{
		margin-bottom: 150px;
	}
	#equipe hr.bg-black{
		display: none;
	}
	#equipe h2{
		font-size: 35px;
		margin-bottom: 70px;
	}
	#equipe .box{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#equipe h3{
		font-size: 34px;
	}
	#equipe .btn-slick-carousel-left{
		left: 40%;
	}
	#equipe .btn-slick-carousel-right{
		right: 40%;
	}

	/* --- numeros --- */
	#numeros .col-6.bg-black,
	#numeros .col-6.bg-white{
		height: 160px;
		padding-top: 30px;
	}
	#numeros p.count{
		font-size: 60px;
	}
	#numeros p.desc{
		font-size: 18px;
		padding-top: 30px;
		padding-left: 25px;
		line-height: 25px;
	}
	#numeros .imagem img{
		height: 400px;
	}
		
	/* --- historia --- */
	#historia{
		padding-top: 75px;
		padding-bottom: 50px;
	}
	#historia h2{
		font-size: 30px;
	}
	#historia .slick-track{
		padding-bottom: 0px;
	}
	#historia .slider-nav .ano p{
		width: initial;
		font-size: 30px;
	}
	#historia .slider-nav .ano p img{
		margin-left: 10px;
		width: 20px;
		margin-top: -5px;
	}
	#historia .slider-nav .slick-current.slick-active .ano p{
		width: initial;
		font-size: 35px;
	}
	#historia .carousel-descricao .desc p{
		font-size: 16px;
	}

	/* --- imagem-destaque --- */
	#imagem-destaque img{
		margin-top: 0px;
		height: 500px;
	}
}

@media screen and (max-width: 400px) {
		
}