<aside class="aside d-none d-lg-block bg-white">
	<div class="categorias">
		<h5>Categorias</h5>
		<ul class="list pl-0 mt-3 mb-5">
			<li class="active">
				<a href="#" title="Categoria 01">Categoria 01</a>
			</li>
			<li>
				<a href="#" title="Categoria 02">Categoria 02</a>
			</li>
			<li>
				<a href="#" title="Categoria 03">Categoria 03</a>
			</li>
			<li>
				<a href="#" title="Categoria 04">Categoria 04</a>
			</li>
			<li>
				<a href="#" title="Categoria 05">Categoria 05</a>
			</li>
		</ul>	
	</div>
</aside>

<script>
	$('.menu-lateral').click(function() {
	    $('.aside').toggleClass('d-none');
	});
	// $('.icon-close').click(function() {
	//     $('.aside').toggleClass('d-none');
	// });
</script>