<div class="footer bg-black">
	<div class="margin-left">
		<div class="container-fluid px-xl-0">
			<div class="row mx-auto">
				<div class="col-12 col-lg-5 descricao">
					<div class="row">
						<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
							<img src="imagens/logos/logo-white-2.png" alt="Tulli" class="img-fluid">
						</div>
						<div class="col-md-6 col-lg-6 mb-4 mb-lg-0 pl-md-4">
							<h2 class="text-white">Fale com a gente</h2>

							<a href="tel:41995480007" class="d-block">41 9 9548 0007</a>
							<a href="tel:4130536756" class="d-block">41 3053 6756</a>
							<a href="mailto:contato@thetulli.com.br" class="d-block">contato@thetulli.com.br</a>
						</div>
					</div>
				</div>

				<div class="col-lg-7 fale">
					<h2 class="text-white text-uppercase">Se inscreva na nossa newsletter</h2>

					<form id="formulario">
						<div class="row">
							<div class="col-md-6">
								<input type="text" class="form-control rounded-0 border-0" placeholder="Nome">
							</div>
							<div class="col-md-6">
								<div class="input-group">
									<input type="email" class="form-control rounded-0 border-0" placeholder="E-mail">
									<a href="#" class="input-group-append">
										<span class="input-group-text rounded-0"><img src="imagens/logos/arrow-right.png" alt="Enviar"></span>
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Copyright -->
<div id="copyright">
	<div class="container-fluid px-xl-0">
		<p class="mb-0 text-white">Rua XV de Novembro, 1155 – Sala 1504 Centro, Curitiba – PR, 80060-000</p>
	</div>
</div>