<!-- navegacao -->
<div class="container px-0">
    <nav class="navbar bg-transparent px-0">
        <a href="index.html" class="navbar-brand px-0 mx-xl-auto">
            <img src="imagens/logos/logo.png" class="img-fluid d-none d-xl-block mx-auto" alt="Tulli">
            <img src="imagens/logos/logo-2.png" class="img-fluid d-inline-block d-xl-none mx-auto" alt="Tulli">
            
            <img src="imagens/logos/nome-logo.png" class="img-fluid d-inline-block d-xl-none mx-auto" alt="Tulli">
        </a>

        <ul class="navbar-nav mx-auto text-center redes">
            <li>
                <a href="#" class="">
                    <img src="imagens/logos/icon-youtube.png" alt="youtube">
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <img src="imagens/logos/icon-instagram.png" alt="instagram">
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <img src="imagens/logos/icon-facebook.png" alt="facebook">
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <img src="imagens/logos/icon-whatsapp.png" alt="whatsapp">
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <img src="imagens/logos/icon-linkedin.png" alt="linkedin">
                </a>
            </li>
        </ul>

        <button class="navbar-toggler border-0 d-block mx-xl-auto p-0" type="button" data-toggle="collapse"
            data-target="#navbarSite">
            <img src="imagens/logos/icon-menu.png" class="d-none d-xl-block" alt="Menu">
            <img src="imagens/logos/icon-menu-2.png" class="d-block d-xl-none" alt="Menu">
        </button>

        <div id="navbarSite" class="navbar-collapse collapse justify-content-end">
            <ul id="links-menu" class="navbar-nav ml-auto text-right">
                <!-- fechar menu -->
                <a href="#" data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-link d-md-inline-block icon-close">
                    <img src="imagens/logos/icon-close.png" alt="Fechar menu" class="icon-close">
                </a>
                
                <li class="nav-item">
                    <div class="border-white"></div>
                </li>

                <a href="index.html" class="nav-link d-md-inline-block logo">
                    <img src="imagens/logos/logo-white.png" class="img-fluid" alt="Tulli">
                </a>

                <div id="move-item">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link d-md-inline-block">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="sobre.html" class="nav-link d-md-inline-block">Tulli studio</a>
                    </li>
                    <li class="nav-item">
                        <a href="servicos.html" class="nav-link d-md-inline-block">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a href="projetos.html" class="nav-link d-md-inline-block">Projetos</a>
                    </li>
                    <li class="nav-item dropdown" onmouseout="out()" onmouseover="over();">
                        <a href="blog.html" class="nav-link d-md-inline-block" data-toggle="dropdown-APAGAR">Blog</a>
                        <div class="dropdown-menu">
                            <span class="text-white">_____</span>
                            <a class="dropdown-item" href="blog-interno.html">Categoria 1</a>
                            <a class="dropdown-item" href="blog-interno.html">Categoria 1</a>
                            <a class="dropdown-item" href="blog-interno.html">Categoria 1</a>
                            <a class="dropdown-item" href="blog-interno.html">Categoria 1</a>
                            <a class="dropdown-item" href="blog-interno.html">Categoria 1</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="contato.html" class="nav-link d-md-inline-block">Contato</a>
                    </li>
                </div>

                <div class="redes-2">
                    <div class="d-inline-block" style="margin-top:-38px">
                        <input type="search" class="form-control rounded-0" id="inputPesquisa" style="display:none;">
                        <img src="imagens/logos/icon-procurar.png" alt="Pesquisar" onclick="campoPesquisar()" class="img-fluid icon-pesquisa">
                    </div>
                    
                    <a href="#">
                        <img src="imagens/logos/icon-youtube.png" alt="youtube">
                    </a>
                    <a href="#">
                        <img src="imagens/logos/icon-instagram.png" alt="instagram">
                    </a>
                    <a href="#">
                        <img src="imagens/logos/icon-facebook.png" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="imagens/logos/icon-whatsapp.png" alt="whatsapp">
                    </a>
                    <a href="#">
                        <img src="imagens/logos/icon-linkedin-2.png" alt="linkedin">
                    </a>
                </div>
            </ul>
        </div>
    </nav>
</div>

<script>
    function campoPesquisar() {
        const campo = document.getElementById('inputPesquisa');
        campo.style.display === 'none' ? campo.style.display = 'block' : campo.style.display = 'none';
    }

    function out() {
        const move = document.getElementById('move-item');
        move.style.paddingRight = '0px';
        move.style.transition = ".3s";
    };

    function over() {
        const move = document.getElementById('move-item');
        move.style.paddingRight = '160px';
        move.style.transition = ".3s";
    };

    // var media = window.matchMedia("(max-width: 400px)")
    // over(media)
    // media.addListener(over)

    // function over(media) {
    //     const move = document.getElementById('move-item');
    //     move.style.transition = ".3s";

    //     if (media.matches) {
    //         move.style.paddingRight = '160px';
    //     } else {
    //         move.style.paddingRight = '200px';
    //     }
    // }
</script>

